html, body{
	height: 100%;
}
.home {
	padding-top: 50px;
	text-align: center;
}
.flag {
    background: url('../img/flags.png') no-repeat;
    display: inline-block;
    width: 32px;
    height: 32px;
}

/* managing different sized backgrounds */
@media all and (max-width: 576px) {
	.home {
		background-image: url('../img/back-320.png');
		background-size: 320px 200px;
	}
}

@media all and (max-width: 768px) and (min-width: 577px) {
	.home {
		background-image: url('../img/back-640.png');
		background-size: 640px 400px;
	}
}

@media all and (max-width: 992px) and (min-width: 769px) {
	.home {
		background-image: url('../img/back-800.png');
		background-size: 800px 600px;
	}
}

@media all and (max-width: 1200px) and (min-width: 993px) {
	.home {
		background-image: url('../img/back-1024.png');
		background-size: 1024px 768px;
	}
}

@media all and (min-width: 1201px) {
	.home {
		background-image: url('../img/back-800.png');
		background-size: 1200px 1024px;
	}
}
.home {
	background-repeat:no-repeat;
	background-position:center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	width: 100%;
	height: 100%;
}

.no-gutters {
	margin-right: 0;
	margin-left: 0;

	> .col,
	> [class*="col-"] {
		padding-right: 0;
		padding-left: 0;
	}
}
/* CARDS */
#left-part, #right-part {
	font-family: 'Jura', sans-serif;
}
#left-part {
	width: 100%;
	color:#ffffff;
}
#right-part {
	background-color:#ffffff;
}
#content {
	height:300px;
	text-align: left;
}

.loginCard {
	width: 34rem;
	margin-top:50px;
}
.roundedCorners-top-left {
	-webkit-border-top-left-radius:16px;
	-moz-border-radius-topleft:16px;
	border-top-left-radius:16px;
}
.roundedCorners-top-right {
	-webkit-border-top-right-radius:16px;
	-moz-border-radius-topright:16px;
	border-top-right-radius:16px;
}
.roundedCorners-bottom-left {
	-webkit-border-bottom-left-radius:16px;
	-moz-border-radius-bottomleft:16px;
	border-top-left-radius:16px;
}
.roundedCorners-bottom-right {
	-webkit-border-bottom-right-radius:16px;
	-moz-border-radius-bottomright:16px;
	border-top-right-radius:16px;
}
.nonRoundedCorners-top-left {
	-webkit-border-top-left-radius:0;
	-moz-border-radius-topleft:0;
	border-top-left-radius:0;
}
.nonRoundedCorners-top-right {
	-webkit-border-top-right-radius:0;
	-moz-border-radius-topright:0;
	border-top-right-radius:0;
}
.nonRoundedCorners-bottom-left {
	-webkit-border-bottom-left-radius:0;
	-moz-border-radius-bottomleft:0;
	border-top-left-radius:0;
}
.nonRoundedCorners-bottom-right {
	-webkit-border-bottom-right-radius:0;
	-moz-border-radius-bottomright:0;
	border-top-right-radius:0;
}
/* MOBILE */
@media all 
and (min-width: 581px) {
	.logoMobile {
		display:none;
	}
	.logoDesktop {
		display:block;
		padding-top:1rem;
		padding-bottom:1rem;
		width:100%;
	}
	.logoDesktop img {
		margin:0 auto;
	}
	.loginCard {
		width: 34rem;
		margin-top:50px;
	}
	#left-part {
		background: url('../img/left-back.png') no-repeat bottom left fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;    	
	}
	.roundedCorners-leftSide {
		-webkit-border-top-left-radius:16px;
		-moz-border-radius-topleft:16px;
		border-top-left-radius:16px;
		-webkit-border-top-right-radius:0;
		-moz-border-radius-topright:0;
		border-top-right-radius:0;
		-webkit-border-bottom-left-radius:16px;
		-moz-border-radius-bottomleft:16px;
		border-top-left-radius:16px;
		-webkit-border-bottom-right-radius:0;
		-moz-border-radius-bottomright:0;
		border-top-right-radius:0;
	}
	.roundedCorners-rightSide {
		-webkit-border-top-left-radius:0;
		-moz-border-radius-topleft:0;
		border-top-left-radius:0;
		-webkit-border-top-right-radius:16px;
		-moz-border-radius-topright:16px;
		border-top-right-radius:16px;
		-webkit-border-bottom-left-radius:0;
		-moz-border-radius-bottomleft:0;
		border-top-left-radius:0;
		-webkit-border-bottom-right-radius:16px;
		-moz-border-radius-bottomright:16px;
		border-top-right-radius:16px;
	}
}
/* DESKTOP */
@media all 
and (max-width: 580px) {
	.logoMobile {
		margin:0 auto;
		display:block;
		padding-top:1rem;
		padding-bottom:1rem;
	}
	.card-block {
		padding-top:0;
		padding-bottom:0;
	}
	.logoMobile img {
		width:100%
	}
	.logoDesktop {
		display:none;
	}
	.loginCard {
		width: 100%;
		margin:20px;
		margin-top:50px;
	}
	#left-part {
		background: url('../img/left-back-white.png') no-repeat center left fixed;
		background-size: 100% 100%;
		color:#113;
	}
	#right-part {
		background-color: #ffffff;
		background-size: 100% 100%;
		color:#113;
	}
	.roundedCorners-leftSide {
		-webkit-border-top-left-radius:0;
		-moz-border-radius-topleft:0;
		border-top-left-radius:0;
		-webkit-border-top-right-radius:0;
		-moz-border-radius-topright:0;
		border-top-right-radius:0;
		-webkit-border-bottom-left-radius:0;
		-moz-border-radius-bottomleft:0;
		border-top-left-radius:0;
		-webkit-border-bottom-right-radius:0;
		-moz-border-radius-bottomright:0;
		border-top-right-radius:0;
	}
	.roundedCorners-rightSide {
		-webkit-border-top-left-radius:0;
		-moz-border-radius-topleft:0;
		border-top-left-radius:0;
		-webkit-border-top-right-radius:0;
		-moz-border-radius-topright:0;
		border-top-right-radius:0;
		-webkit-border-bottom-left-radius:16px;
		-moz-border-radius-bottomleft:16px;
		border-top-left-radius:16px;
		-webkit-border-bottom-right-radius:16px;
		-moz-border-radius-bottomright:16px;
		border-top-right-radius:16px;
	}

}



.rounded {
	border-radius: 16px;
}
.card {
	border:none;
}
.card-block {
	padding-left: 30px;
	padding-right: 30px;
}
.card-img-top {
	margin: 0 auto;
}
.card-title-grey {
	font-family: 'Jura', sans-serif;
	color:#ccc;
	font-size:14px;
}
.card-footer {
	background-color:transparent !important;
	padding:0;
	border:0;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
/* TYPOGRAPHY */
#left-part h5, .card-text {
	text-align: left;
}
#left-part h4, #left-part h5 {
	margin-top: 30px;
}
#left-part h4 {
	font-size: 20px;
}
#left-part h5 {
	font-size: 18px;
}
#left-part p {
	font-size: 14px;
}
#right-part h3 {
	font-size: 40px;
}
#right-part h4 {
	text-align: left;
	margin-left: 40px;
	font-size: 18px;
	width:80%;
}
#right-part h5 {
	display: inline;
}
.hr-mins h3 {
	line-height: 1rem;
}
.hr-mins h5 {
	margin-top:0;
	padding-top:0;
}
.hrs, .mins {
}
.mins {
	padding-left: 15px;
}
.card-title-grey {
	font-family: 'Jura', sans-serif;
	color:#ccc;
	font-size:14px;
}

/* BUTTONS */
.real-buttons .btn {
	margin:0 auto;
	margin-top:10px;
}
.btn-ghosted {
	background-color: #E2ADAE;
	border-color: #E2ADAE;
}
.fullsize {
	width:100%;
	text-align: center;
}

input[type='text'] {
	border: none;
	border-bottom: 1px solid #ccc;
}
input[disabled] {
	background-color: transparent;
}
.btn {
	width:75%;
}
.buttonsized {
	width:75%;  
}
.country {
	width:100%;
}
.dropdown .btn {
	border: none;
	border-bottom: 1px solid #ccc;
	-webkit-border-top-left-radius:0;
	-moz-border-radius-topleft:0;
	border-top-left-radius:0;
	-webkit-border-bottom-left-radius:0;
	-moz-border-radius-bottomleft:0;
	border-top-left-radius:0;
	-webkit-border-top-right-radius:0;
	-moz-border-radius-topright:0;
	border-top-right-radius:0;
	-webkit-border-bottom-right-radius:0;
	-moz-border-radius-bottomright:0;
	border-top-right-radius:0;
}
.btn.dropdown-toggle {
	padding-top:0;
	background-color:transparent;
}
.input-group {
	margin-top: 10px;
	margin-bottom: 10px;
}
.input-group-addon {
	background-color:transparent;
	border: none;
}
.agreement {
	font-size: 0.8rem;
	width:75%;
}
.row.name input {
	width:100%;
}
.btn.dropdown-toggle {
	margin:0;
	padding:0;
	width:100%;
	-webkit-border-top-left-radius:0;
	-moz-border-radius-topleft:0;
	border-top-left-radius:0;
	-webkit-border-bottom-left-radius:0;
	-moz-border-radius-bottomleft:0;
	border-top-left-radius:0;
	-webkit-border-top-right-radius:0;
	-moz-border-radius-topright:0;
	border-top-right-radius:0;
	-webkit-border-bottom-right-radius:0;
	-moz-border-radius-bottomright:0;
	border-top-right-radius:0;
}
.dropdown-toggle:after {
	margin:0;
}
.colCountry, .colPhone {
	padding:0;
}
.colCountry {
	padding-left:5px;
}
.colPhone {
	padding-right:20px;
}
.phone {
	margin-left:15px;
}
.phone-prefix {
	border-bottom: 1px solid #ccc;
	padding-left: 5px;
	padding-right: 5px;
}
.card-img-top-desktop {
	padding-top: 10px;
	padding-bottom: 10px;
}
.dropdown-menu {
	border: 1px solid #cccccc;
}
.colCountry .dropdown-item, .colCountry .dropdown-item a {
	padding:0;
}
.post-submit {
	width:100%;
	margin:0 auto;
}
.dropdown:hover .dropdown-menu {
  display: block;
}

ul.footer-nav {
  padding:0;
  margin: 0;

  >li {
    display:inline-block;
    padding-right:5px;
  }
}

.footer-nav li::after {
  content: " |";
}

.footer-nav li:last-of-type::after {
  content: "";
}

p.copyright>span {
  color: #777;
}

.loadingSign {
	width:100%;
	padding-top: 250px;
}
.loadingSign div {
	margin:0 auto;
}