@font-face {
  font-family: 'Jura-Regular';
  src: url('Jura-Regular.eot');
  src: url('Jura-Regular.woff2') format('woff2'),
       url('Jura-Regular.woff') format('woff'),
       url('Jura-Regular.ttf') format('truetype'),
       url('Jura-Regular.svg#Jura-Regular') format('svg'),
       url('Jura-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jura-Medium';
  src: url('Jura-Medium.eot');
  src: url('Jura-Medium.woff2') format('woff2'),
       url('Jura-Medium.woff') format('woff'),
       url('Jura-Medium.ttf') format('truetype'),
       url('Jura-Medium.svg#Jura-Medium') format('svg'),
       url('Jura-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jura-Light';
  src: url('Jura-Light.eot');
  src: url('Jura-Light.woff2') format('woff2'),
       url('Jura-Light.woff') format('woff'),
       url('Jura-Light.ttf') format('truetype'),
       url('Jura-Light.svg#Jura-Light') format('svg'),
       url('Jura-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jura-Bold';
  src: url('Jura-Bold.eot');
  src: url('Jura-Bold.woff2') format('woff2'),
       url('Jura-Bold.woff') format('woff'),
       url('Jura-Bold.ttf') format('truetype'),
       url('Jura-Bold.svg#Jura-Bold') format('svg'),
       url('Jura-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jura-SemiBold';
  src: url('Jura-SemiBold.eot');
  src: url('Jura-SemiBold.woff2') format('woff2'),
       url('Jura-SemiBold.woff') format('woff'),
       url('Jura-SemiBold.ttf') format('truetype'),
       url('Jura-SemiBold.svg#Jura-SemiBold') format('svg'),
       url('Jura-SemiBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


